/* Authors: Ida Swarczewskaja, Frederic Ye */

/* Generic */
html {
    overflow: hidden;
}
body {
    background: #151515 url("/resources/img/texture-grunge-383838-tile.png") repeat 0 0;
    color: gray;
}
a {
    color:#18D;
}
h4 {
    color: gray;
    line-height: 16px;
    margin-top: 0;
}

input {
    margin-top: 6px;
}

button .secondary {
    padding: 4px 6px;
}


/* Header */
#header {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 5px;
    left: 10px;
}
#header h2 {
    color: white;
    margin-right: 20px;
    margin-top: 0;
}


/* Main */
#main {
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 0;
    top: 50px;
}

.editor { 
    position: absolute;
    width: 400px;
    height: 500px;
    left: 20px;
    top: 20px;
    border: 1px;
    overflow: auto;
    box-shadow: 0 1px 5px #000;
    -webkit-box-shadow: 0 1px 5px #000;
    -moz-box-shadow: 0 1px 5px #000;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
}

#login {margin-top: 20px;}

/* Navbar */
#navbar {
    width: auto;
}

#navbar * {
    float: left;
    margin-left: 10px;
}

#document_actions_container {
    padding-right: 20px;
    border-right: 1px solid #E0E0E0;
}

/* Conversation */

#chat {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 0;
    top: 50px;
    width: 500px;
}

#chat_content {
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 150px;
}
#conversation {
    background: #151515;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px #000 inset;
    -webkit-box-shadow: 0 1px 3px #000 inset;
    -moz-box-shadow: 0 1px 3px #000 inset;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    position: absolute;
    overflow: auto;
    bottom: 42px;
    top: 22px;
    right: 0;
    left: 0;
}
.line {
    clear: both;
    display: block;
    padding: 5px;
    text-align: left;
}
.line .date {
    color: #555;
}
.user {
    font-weight: bold;
    color: #18D;
    margin-right: 5px;
}

/* Sidebar */
#sidebar {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 10px;
    width: 130px;
}
#user_list {
    position: absolute;
    left: 0;
    top: 20px;
    right: 0;
    bottom: 60px;
    overflow: auto;
}
#user_list ul {
    margin-bottom: 0;
}
#user_list ul li {
    color:#18D;
}

.user_document_info {
    margin-left: 7px;
    font-size: 11px;
}


/* Chatbar */
#chatbar {
    position: absolute;
    left: 0;
    bottom: 8px;
    right: 10px;
}
#chatbar input#entry {
    width: 100%;
}

/* Stats */
.stats {
    background: #18D;
    color: white;
    box-shadow: 0 1px 5px #000;
    -webkit-box-shadow: 0 1px 5px #000;
    -moz-box-shadow: 0 1px 5px #000;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0
}
.stats > div {
    padding: 0 5px;
    float:left;
}

/* Drop-area */
#drop_area {
    background: #151515;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    box-shadow: 0 1px 5px #000;
    -webkit-box-shadow: 0 1px 5px #000;
    -moz-box-shadow: 0 1px 5px #000;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8px;
    height: 40px;
    border: dotted
}
#share {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;
}
#files {
  opacity: 0;
  visibility: hidden;
  width: 0;
}




/* Rooms */
#room_list {
    overflow: auto;
    background: #151515;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    box-shadow: 0 1px 5px #000;
    -webkit-box-shadow: 0 1px 5px #000;
    -moz-box-shadow: 0 1px 5px #000;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    position: absolute;
    height: 400px;
    width: 400px;
}
#room_list ul {
    margin-bottom: 0;
}
#room_list .line {
    list-style-type: none;
    color:#555555;
    background: #333333;
    color: white;
    box-shadow: 0 1px 5px #000;
    -webkit-box-shadow: 0 1px 5px #000;
    -moz-box-shadow: 0 1px 5px #000;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
}

#room_list .list {
    margin-top: 20px;
}

#room_list a {
    width: 100%;
}
#room_list ul li a:hover {
    list-style-type: none;
    text-decoration: none;
    background-color 
    color:#18D;
}

#create_room_bar {
    position: absolute;
    top: 435px;
}
#create_room_bar input {
    width: 150px;
}

#content {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



/* Document */
#document_content {
    width: 500px;
    height: 500px;
    margin-top: 20px;
}

#editor { 
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 30px;
    width: 500px;
    height: 500px;
    background-color: white;
    -webkit-box-shadow: 0 2px 11px #18D;
    -moz-box-shadow: 0 2px 13px #18D;
    box-shadow: 0 2px 13px #18D;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#document_actions {
    position:absolute;
    top: 550px;
    left: 30px;
}

#document_settings {
    display: none;
}


/* Document import */
.document_import_preview {
    position: absolute;
    width: 400px;
    height: 500px;
    left: 375px;
    top: 20px;
    border: 1px;
    overflow: auto;
    box-shadow: 0 1px 5px #000;
    -webkit-box-shadow: 0 1px 5px #000;
    -moz-box-shadow: 0 1px 5px #000;
    border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
}

.ui-dialog-title {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333333;
    font-weight: 200;
}
.document_import_list {
    margin-top: 10px;
    display: block;
    width: 350px;
}

.document_import_line {
    width: auto;
    clear: both;
    display: block;
}
.document_import_line * {
    float: left;
    display: block;
}

.document_import_line button {
    padding: 4px;
}

.document_import_name {
    color: #555555;
    font-size: 20px;
    font-weight: 200;
    text-shadow: 0 1px 0 #D2D2D2;
    line-height: 30px;
    width: 180px;
    display: block;
}

/* document rollback preview */

#document_rollback_vote_preview {
    height: 450px;
}

/* state view */
.document_state_list {
    display: block;
    width: 350px;
}

.document_state_line {
    width: auto;
    clear: both;
    display: block;
}
.document_state_line * {
    float: left;
    display: block;
}


.document_state_name {
    color: #777777;
    font-size: 13px;
    margin-right: 5px;
    font-weight: 200;
    text-shadow: 0 1px 0 #FFFFFF;
    line-height: 30px;
    width: 180px;
    display: block;
}